*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}
body{
    display: flex;
}
aside{
    height: 100vh;
    width: 13vw;
    background-color: #D9D9D9;
}
.god{
    height: 60vh;
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.categorias{
    font-size: 160%;
}
.grados{
    color: black;
    text-align: center;
    width: 100%;
    height: 6%;
    background-color: #f3f3f3;
    border: 0;
    transition: 0.2s all;
}
button:hover{
    background-color: #aaaaaa;
    cursor: pointer;
}
.dialog{
    width: 12vw;
    height: 40vh;
    position: absolute;
}
.dialogSeptimo{
    top: 10vh;
    left: 13vw;
}
.dialogPrimero{
    top: 17.5vh;
    left: 13vw;
}
.dialogSegundo{
    top: 25vh;
    left: 13vw;
}
.dialogTercero{
    top: 32.5vh;
    left: 13vw;
}
.dialogCuarto{
    top: 39.5vh;
    left: 13vw;
}
.dialogQuinto{
    top: 47vh;
    left: 13vw;
}
.dialogIngles{
    top: 54vh;
    left: 13vw;
}
.dialogDisplay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #313131;
}
.materias{
    border: 0;
    background-color: #ffffff;
    outline: 0;
    width: 100%;
    color: #ffffff;
    background-color: inherit;
    text-align: left;
    padding-left: 5%;
    transition: 0.2s all;
}
.materias:hover{
    background-color: gray;
}
.cinco{
    height: calc(100% / 5);
}
.sesion{
    margin-top: 110%;
    background-color: #d45858;
    width: 100%;
    height: 4%;
    border: 0;
    transition: 0.2s all;
}
.sesion:hover{
    background-color: #D89494;;
}
main{
    height: 100vh;
    width: 87vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    height: 10%;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5vh;
}
.buscador{
    width: 60vw;
    height: 6vh;
    font-size: 155%;
    background-color: #D9D9D9;
    border: 0;
    padding-left: 1%;
    box-sizing: border-box;
}
.cuenta{
    width: 8vw;
    height: 6vh;
    font-size: 110%;
    background-color: #D9D9D9;
    border: 0;
    transition: 0.2s all;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador::placeholder{
    font-size: 100%;
}
section{
    width: 90%;
    height: 90%;
    background-color: #D9D9D9;
    margin-top: 1%;
    font-size: 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.h4{
    margin-top: 1.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.publicadosinvisible{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.libros{
    background-color: #E7E7E7;
    width: 16vw; 
    aspect-ratio: 1 / 1.2;
    margin: 3vw;
    box-sizing: border-box;
    max-height: 19.2vw;
    border-radius: 0.6vw;
    box-shadow: 0.6vw 1vh 0.3vw 0 rgb(131, 131, 131);
    transition: 0.2s all;
}
.libros:hover{
    /* background-color: #cacaca; */
    box-shadow: 0.6vw 1vh 0.6vw 0 rgb(66, 66, 66);
    cursor: pointer;
}
.imagen{
    width: 100%;
    height: 60%;
    border-bottom: 0.5vh solid black;
}
.img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}
.nombre{
    font-size: 40%;
    text-align: center;
    margin: 5% 0;
    max-width: 100%;
    overflow-wrap: break-word;
}
.precio{
    font-size: 40%;
    text-align: center;
    margin-bottom: 2%;
}
.mas{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    position: fixed;
    right: 2vw;
    bottom: 3vh;
    background-color: rgb(101, 101, 233);
    border: 0.5vh solid #ffffff;
    box-sizing: border-box;
    font-size: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mas:hover{
    background-color: rgb(121, 121, 233);
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.graciasIvoPublicar{
    justify-self: center;
    align-self: center;
    width: 70vw;
    height: 90vh;
}
.graciasIvoPublicar::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
.modalPublicar{
    width: 100%;
    height: 100%;
    display: flex;
}
.columnaIzquierda{
    width: 50%;
    height: 100%;
}
.columnaDerecha{
    width: 50%;
    height: 100%;
}
.arribaIzquierda{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.nombreAnio{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
}
.nombreDialog{
    height: 45%;
    width: 50%;
}
.anioDialog{
    height: 45%;
    width: 45%;
}
.cajaDesc{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descDialog{
    width: 90%;
    height: 80%;
}
.inputsDialog{
    resize: none;
    font-size: 40%;
}
.inputsDialog::placeholder{
    color: black;
}
.abajoIzquierda{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.matePrecio{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.materiaDialog{
    width: 45%;
    height: 8vh;
}
.precioDialog{
    width: 45%;
    height: 8vh;
}
.mailDialog{
    width: 90%;
    height: 20%;
}
.numDialog{
    width: 90%;
    height: 20%;
}
.subirImagen{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonImagen{
    width: 70%;
    aspect-ratio: 1/1;
    font-size: 80%;
    background-color: #ffffff;
    overflow-x: scroll
}
.botonImagen:hover{
    background-color: #e4e4e4;
}
.cajitaBoton{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: top;
}
.cerrarModal{
    width: 90%;
    height: 80%;
    border-radius: 3vw;
    font-size: 100%;
    background-color: #038587;
    color: #ffffff;
    border: 0;
    box-shadow: 0 0 1vw 0 rgb(68, 68, 68);;
}
.graciasIvoLibros{
    width: 70vw;
    height: 90vh;
    justify-self: center;
    align-self: center;
}
.graciasIvoLibros::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
.modalLibros{
    display: flex;
    width: 100%;
    height: 100%;
}
.columnaIzquierdaLibros{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.arribaIzquierdaLibros{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #4D9EE0;
}
.nombreAnioLibros{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 40%;
}
.nombreLibros{
    width: 50%;
}
.anioLibros{
    width: 25%;
}
.cajaDescLibros{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divLibros{
    font-size: 2vw;
    background: #ffffff;
    border: #000000 solid 0.2vw;
    box-sizing: border-box;
}
.descLibros{
    box-sizing: border-box;
    width: 90%;
    height: 90%;
}
.abajoIzquierdaLibros{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5%;
    background-color: #4D9EE0;
}
.matePrecioLibros{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.mateLibros{
    width: 50%;
}
.precioLibros{
    width: 40%;
}
.mailLibros{
    width: 90%;
}
.numLibros{
    width: 90%;
}
.columnaDerechaLibros{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.arribaDerechaLibros{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D9EE0;
}
.mostrarImagenLibros{
    width: 70%;
    aspect-ratio: 1 / 1;
    border: 0.3vw #000000 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.abajoDerechaLibros{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    background-color: #4D9EE0;
}
.avisoUsuarios{
    width: 80%;
    height: 60%;
    font-size: 1.5vw;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.eliminar{
    width: 2vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: -2vw;
    background-color: #d45858;
    position: relative;
    left: 83%;
    bottom: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid #fff;
    box-shadow: 23px 23px 36px -40px;
}

.tacho{
    width: 1.5vw;
    position: absolute;
}