*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}
body{
    display: flex;
}
aside{
    height: 100vh;
    width: 18vw;
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.categorias{
    font-size: 160%;
    margin-left: 10%;
    color: #ffffff;
    width: min-content;
    position: relative;
    left: 9%;
    font-weight: 600;
    margin-top: 11px;
}
.categorias:hover{
    cursor: pointer;
}
.logo{
    width: 33%;
    position: absolute;
    left: 60%;
    
}
.m{
    color: #4D9EE0;
    font-weight: 600;
}

.grados{
    color: black;
    text-align: center;
    background-color: #3498DB;
    border: 0;
    transition: 0.2s all;
    width: 85%;
    height: 9%;
    border-radius: 0.3vw;
    color: #ffffff;
    font-size: 100%;
}
button:hover{
    background-color: #2980B9;
    cursor: pointer;
}
.sesion{
    background-color: #D9534F;
    border: 0;
    transition: 0.2s all;
    width: 85%;
    height: 9%;
    border-radius: 0.3vw;
    color: #ffffff;
    font-size: 100%;
}
.sesion:hover{
    background-color: #d8716d;
}
.gradosSesion{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 0 5% 0;
    align-items: center;
}
.dialog{
    width: 12vw;
    height: 40vh;
    position: absolute;
    border-radius: 0.5vw;
}
.dialogSeptimo{
    top: 13vh;
    left: 13vw;
}
.dialogPrimero{
    top: 24vh;
    left: 13vw;
}
.dialogSegundo{
    top: 35vh;
    left: 13vw;
}
.dialogTercero{
    top: 46vh;
    left: 13vw;
}
.dialogCuarto{
    top: 25vh;
    left: 13vw;
}
.dialogQuinto{
    top: 36vh;
    left: 13vw;
}
.dialogIngles{
    top: 47vh;
    left: 13vw;
}
.dialogDisplay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #313131;
    border-radius: 0.2vw;
}
.materias{
    border: 0;
    background-color: #ffffff;
    outline: 0;
    width: 100%;
    color: #ffffff;
    background-color: inherit;
    text-align: left;
    padding-left: 5%;
    transition: 0.2s all;
}
.materias:hover{
    background-color: gray;
}
.primerBot{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.ultimoBot{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.cinco{
    height: 100%;
}
main{
    height: 100vh;
    width: 87vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #2C3E50;
    padding-right: 2%;
}
nav{
    height: 10%;
    width: 84vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5vh;

}
.buscador{
    width: 70vw;
    height: 6vh;
    font-size: 155%;
    background-color: #D1D5DB;
    border: 0;
    padding-left: 1%;
    box-sizing: border-box;
}
.buscador::placeholder{
    font-size: 100%;
}
.cuenta{
    width: 8vw;
    height: 6vh;
    font-size: 110%;
    background-color: #2E8BC0;
    border: 0;
    transition: 0.2s all;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2vw;
}
.cuenta:hover{
    background-color: #27729e;
}
section{
    width: 84vw;
    height: 90%;
    background-color: #bbd6ff;
    margin-top: 1%;
    font-size: 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.h4{
    margin-top: 1.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.publicadosinvisible{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.libros{
    background-color: #E7E7E7;
    width: 16vw; 
    aspect-ratio: 1 / 1.2;
    margin: 3vw;
    box-sizing: border-box;
    max-height: 19.2vw;
    border-radius: 0.6vw;
    box-shadow: 0.6vw 1vh 0.3vw 0 rgb(131, 131, 131);
    transition: 0.2s all;
}
.libros:hover{
    /* background-color: #cacaca; */
    box-shadow: 0.6vw 1vh 0.6vw 0 rgb(66, 66, 66);
    cursor: pointer;
}
.imagen{
    width: 100%;
    height: 60%;
    border-bottom: 0.5vh solid black;
}
.img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.6vw;
    border-top-right-radius: 0.6vw;
}
.nombre{
    font-size: 35%;
    max-width: 100%;
    overflow-wrap: break-word;
    font-weight: 400;
    margin-left: 5%;
    margin-top: 5%;
}
.precio{
    font-size: 45%;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 2%;
}
.mas{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    position: fixed;
    right: 2vw;
    bottom: 3vh;
    background-color: #2978A0;
    border: 0.5vh solid #ffffff;
    box-sizing: border-box;
    font-size: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
}
.mas:hover{
    background-color: rgb(121, 121, 233);
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.graciasIvoPublicar{
    justify-self: center;
    align-self: center;
    width: 70vw;
    height: 90vh;
    border-radius: 6vh;
    border: 0;
}
.graciasIvoPublicar::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
.modalPublicar{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.columnaIzquierda{
    width: 50%;
    height: 100%;
}
.columnaDerecha{
    width: 50%;
    height: 100%;
}
.arribaIzquierda{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.nombreAnio{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
}
.nombreDialog{
    height: 45%;
    width: 50%;
}
.anioDialog{
    height: 45%;
    width: 45%;
}
.cajaDesc{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descDialog{
    width: 90%;
    height: 80%;
}
.inputsDialog{
    resize: none;
    font-size: 40%;
}
.inputsDialog::placeholder{
    color: black;
}
.abajoIzquierda{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.matePrecio{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.materiaDialog{
    width: 50%;
    height: 8vh;
}
.precioDialog{
    width: 45%;
    height: 7.35vh;
}
.mailDialog{
    width: 90%;
    height: 20%;
}
.numDialog{
    width: 90%;
    height: 20%;
}
.subirImagen{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonImagen{
    width: 70%;
    aspect-ratio: 1/1;
    font-size: 80%;
    background-color: #ffffff;
    overflow-x: scroll
}
.botonImagen:hover{
    background-color: #e4e4e4;
}
.cajitaBoton{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: top;
}
.cerrarModal{
    width: 90%;
    height: 80%;
    border-radius: 3vw;
    font-size: 100%;
    background-color: #038587;
    color: #ffffff;
    border: 0;
    box-shadow: 0 0 1vw 0 rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
}
.graciasIvoLibros{
    width: 70vw;
    height: 90vh;
    justify-self: center;
    align-self: center;
    border-radius: 6vh;
    outline: 0;
    border: 0;
    overflow-x: hidden;
}
.graciasIvoLibros::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
.modalLibros{
    display: flex;
    width: 100%;
    height: 100%;
}
.columnaIzquierdaLibros{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.nombreLibros{
    font-size: 60%;
    margin-left: 5%;
    margin-top: 3%;
    font-weight: 600;
    overflow-wrap: break-word;
}
.precioLibros{
    font-size: 60%;
    color:#0077CC;
    margin-left: 5%;
    margin-top: 2%;
    font-weight: 600;
}
.materiaLibros{
    font-size: 40%;
    font-weight: 300;
    margin-left: 5%;
    margin-top: 7%;
}
.añoLibros{
    font-size: 40%;
    font-weight: 300;
    margin-left: 5%;
}
.tituloDescripcionLibros{
    font-size: 40%;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 4%;
}
.descripcionLibros{
    font-size: 40%;
    font-weight: 300;
    margin-left: 5%;
    margin-bottom: 3%;
    overflow-wrap: break-word;
}
.columnaDerechaLibros{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.arribaDerechaLibros{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.abajoDerechaLibros{
    width: 100%;
    height: 35%;
    outline: 0;
}
.imgContainerLibros{
    position: relative;
    top: 5%;
    width: 23vw;
    height: 23vw;
    outline: 2px solid rgb(0, 0, 0);
}
.imgDeLibros{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.abajoDerechaLibros{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45%;
    margin-top: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    left: 2%;
}
.telefonoLibros{
    font-size: 71%;
    font-weight: 300;
    display: flex;
    align-items: center;
    position: relative;
    right: -2%;
}
.infoTelLibros{
    font-size: 75%;
    overflow-wrap: break-word;
    width: 100%;
    text-align: center;
}
.imgTelefonoLibros{
    width: 3vh;
    position: relative;
    left: -4%;
}
.mailLibros{
    font-size: 71%;
    font-weight: 300;
    display: flex;
    margin-top: 1%;
    align-items: center;
    position: relative;
    right: -2%;
}
.infoMailLibros{
    font-size: 75%;
    overflow-wrap: break-word;
}
.imgMailLibros{
    width: 5vh;
    position: relative;
    left: -4%;
}
.eliminar{
    width: 2vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: -2vw;
    background-color: #d45858;
    position: relative;
    left: 83%;
    bottom: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid #fff;
    box-shadow: 23px 23px 36px -40px;
}
.tacho{
    width: 1.5vw;
    position: absolute;
}