article{
    width: 20vw;
    height: 30vh;
    background-color: cadetblue;
    box-sizing: border-box;
}
button{
    background-color: brown;
}
.imagen{
    width: 40%;
    height: 40%;
}
.publicar{
    background-color: aqua;
    position: absolute;
}
.button{
    display: flex;
    justify-content: end;
}