*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
aside{
    height: 100vh;
    width: 13vw;
    background-color: #D9D9D9;
}
.god{
    height: 60vh;
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.categorias{
    font-size: 160%;
}
.grados{
    color: black;
    text-align: center;
    width: 100%;
    height: 6%;
    background-color: #f3f3f3;
    border: 0;
    transition: 0.2s all;
}
button:hover{
    background-color: #aaaaaa;
    cursor: pointer;
}
.sesion{
    margin-top: 110%;
    background-color: #d45858;
    width: 100%;
    height: 4%;
    border: 0;
    transition: 0.2s all;
}
.sesion:hover{
    background-color: #D89494;;
}
main{
    height: 100vh;
    width: 87vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    height: 10%;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5vh;
}
.buscador{
    width: 60vw;
    height: 6vh;
    font-size: 155%;
    background-color: #D9D9D9;
    border: 0;
    padding-left: 1%;
    box-sizing: border-box;
}
.cuenta{
    width: 8vw;
    height: 6vh;
    font-size: 110%;
    background-color: #D9D9D9;
    border: 0;
    transition: 0.2s all;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador::placeholder{
    font-size: 100%;
}
section{
    width: 90%;
    height: 90%;
    background-color: #D9D9D9;
    margin-top: 1%;
    font-size: 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h4{
    margin-top: 1.5%;
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.publicadosinvisible{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
}
.libros{
    background-color: #E7E7E7;
    width: 16vw; 
    aspect-ratio: 1 / 1.2;
    margin: 2.5%;
    box-sizing: border-box;
    max-height: 19.2vw;
    transition: 0.2s all;
    border-radius: 20px;
    box-shadow: 0px 0px 38px -17px rgba(0,0,0,0.75);
}
.libros:hover{
    /* background-color: #cacaca; */
    box-shadow: 0px 0px 39px -7px rgba(0,0,0,0.75);;
    cursor: pointer;
}
.imagen{
    width: 100%;
    height: 60%;
    object-fit: contain;
    border-bottom: 0.5vh solid black;
}
.img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.nombre{
    font-size: 60%;
    text-align: center;
    margin: 5% 0;
}
.precio{
    font-size: 40%;
    text-align: center;
    margin-bottom: 2%;
}
.mas{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    position: fixed;
    right: 2vw;
    bottom: 3vh;
    background-color: rgb(101, 101, 233);
    border: 0.5vh solid #ffffff;
    box-sizing: border-box;
    font-size: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mas:hover{
    background-color: rgb(121, 121, 233);
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.graciasIvo{
    justify-self: center;
    align-self: center;
    width: 70vw;
    height: 90vh;
}
.graciasIvo::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
.diaGod{
    width: 100%;
    height: 100%;
    display: flex;
}
.columnaIzquierda{
    width: 50%;
    height: 100%;
}
.columnaDerecha{
    width: 50%;
    height: 100%;
}
.arribaIzquierda{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.nombreAnio{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20% 0 5%;
    box-sizing: border-box;
}
.nombreDialog{
    height: 45%;
    width: 40%;
}
.anioDialog{
    height: 45%;
    width: 20%;
}
.cajaDesc{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descDialog{
    width: 90%;
    height: 80%;
}
.inputsDialog{
    resize: none;
    font-size: 40%;
}
.inputsDialog::placeholder{
    color: black;
}
.abajoIzquierda{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.materiaDialog{
    width: 90%;
    height: 20%;
}
.mailDialog{
    width: 90%;
    height: 20%;
}
.numDialog{
    width: 90%;
    height: 20%;
}
.subirImagen{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonImagen{
    width: 70%;
    aspect-ratio: 1/1;
    font-size: 80%;
    background-color: #ffffff;
}
.botonImagen:hover{
    background-color: #e4e4e4;
}
.cajitaBoton{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cerrarModal{
    width: 90%;
    height: 80%;
    border-radius: 3vw;
    font-size: 100%;
    background-color: #038587;
    color: #ffffff;
}
