*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grande{
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #00559A;
    border-radius: 1.5vw;
}
.bienvenido{
    font-size: 350%;
}
.usuario{
    width: 25vw;
    height: 8vh;
    border: 0;
    background-color: #F5F5F5;
    padding-left: 2%;
}
.contraseña{
    width: 25vw;
    height: 8vh;
    padding-left: 2%;
    border: 0;
    background-color: #F5F5F5;
}
.login{
    width: 25vw;
    height: 8vh;
    font-size: 100%;
    border: 0;
    background-color: #F5F5F5;
}
.login:hover{
    background-color: #98e2ff;
    cursor: pointer;
}
.registrate{
    font-size: 130%;
    border: 0;
    text-decoration: none;
    color: black;
}
.registrate:visited{
color: black;
}
.registrate:hover{
cursor: pointer;
}