*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3E50;
}
.grande{
    width: 40vw;
    height: 40vw;
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3vw;
}
.bienvenido{
    font-size: 350%;
}
.usuario{
    width: 60%;
    height: 10%;
    padding-left: 2%;
    border: 0;
    background-color: #D1D5DB;
    border-radius: 0.2vw;
    position: relative;
    top: 3%;
}
.contraseña{
    width: 60%;
    height: 10%;
    padding-left: 2%;
    border: 0;
    background-color: #D1D5DB;
    border-radius: 0.2vw;
    position: relative;
    top: 6%;
}
.login{    
    width: 40%;
    height: 8%;
    font-size: 100%;
    border: 0;
    background-color: #62aee0;
    border-radius: 0.2vw;
    position: relative;
    top: 5%
}
.login:hover{
    background-color: #a2cce7;
    cursor: pointer;
}
.registrate{
    font-size: 130%;
    border: 0;
}
.registrate:visited{
    color: black;
}
.registrate:hover{
    cursor: pointer;
}