*{
    margin: 0;
    padding: 0;
}
body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.grande{
width: 500px;
height: 500px;
background-color: #D9D9D9;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.bienvenido{
font-size: 40px;
margin-top: -20px;
}
.usuario{
width: 299px;
height: 50px;
margin-top: -70px;
border: 0;
background-color: #F5F5F5;
padding-left: 8px;   
}
.mail{
    width: 299px;
    height: 50px;
    margin-top: -70px;
    border: 0;
    background-color: #F5F5F5;
    padding-left: 8px;
}
.contraseña{
    width: 299px;
    height: 50px;
    margin-top: -70px;
    border: 0;
    background-color: #F5F5F5;
    padding-left: 8px;   
}

.login{
width: 307px;
height: 50px;
margin-top: -70px;
border: 0;
background-color: #d2f2ff;
}
.registrate{
    margin-top: -80px;
    margin-bottom: -20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.registrate:visited{
    margin-top: -80px;
    margin-bottom: -20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}